@font-face {
    font-family: Raleway;
    src: url(../font/Raleway.ttf);
}

@font-face {
    font-family: TanParadiso;
    src: url(../font/tan-paradiso.otf);
}

body {
    background-color: #FF50A9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rsvp-form-container {
    background-color: #ff2088;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #034aff;
    border-radius: 4px;
    font-family: Raleway;
    background-color: #ffffff;
    color: #034aff;
}

input:focus {
    border: none;
    box-shadow: none;
}

h2 {
    font-family: TanParadiso;
    color: #C1FF72;
    font-size: 3rem;
    margin: .6rem 0 .7rem 0;
}

p {
    margin: 0%;
    font-family: Raleway;
    color: #ff2088;
    font-weight: 300;
    font-size: 1rem;
}

label {
    font-family: Raleway;
    font-size: 1rem;
    margin-bottom: 1px;
    color: #C1FF72;
}

button[type="submit"] {
    background-color: #C1FF72;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

button[type="submit"]:hover {
    background-color: #b4ff9b;
} 

@media only screen and (min-width: 1200px) {
    .rsvp-form-container {
        width: 40%;
        margin-top: 2rem;
    }


input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #034aff;
    border-radius: 4px;
    font-family: Raleway;
    background-color: #ffffff;
    color: #034aff;
    font-size: 1.1rem;
}

input:focus {
    border: none;
    box-shadow: none;
}

h2 {
    font-family: TanParadiso;
    color: #C1FF72;
    font-size: 4rem;
    margin: .6rem 0 .7rem 0;
}

p {
    margin: 0%;
    font-family: Raleway;
    color: #ff2088;
    font-weight: 300;
    font-size: 1.3rem;
}

label {
    font-family: Raleway;
    font-size: 1.5rem;
    margin-bottom: 1px;
    color: #C1FF72;
}

button[type="submit"] {
    background-color: #C1FF72;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;    
}

button[type="submit"]:hover {
    background-color: #adff41;
} 
}




